.app__navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding:1.5rem 2rem;
}
.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.app__navbar-logo img{
    width: 50%;
    height: auto;
    filter:brightness(50);
}
.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.app__navbar-links li{
    margin: 0 1rem;
    cursor: pointer;
}
.app__navbar-links li:hover{
    color: var(--color-grey);
}

.app__navbar-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.app__navbar-login a{
    margin: 0 1rem;
    transition: 0.8s ease;
}
.app__navbar-login a:hover{
    border-bottom: 1px solid var(--color-gold);
}
.app__navbar-login div{
   width: 1px;
   height: 30px;
   background: white;
}

.app__navbar-menu{
    display: none;
}
.app__navbar-menu_overlay{
    background: var(--color-black);
    position: absolute;
    top: 1rem;
    right: 0;
    min-width:250px;
    height: 70vh;
    transition: 0.5s ease;
    flex-direction: column;
    justify-content: start;
}
.app__navbar-menu_overlay .menu_close{
     position: absolute;
     top: 20px;
     right: 20px;
}
.app__navbar-menu_links{
    list-style: none;
}
.app__navbar-menu_links li{
    margin: 2rem;
    cursor: pointer;
    color: var(--color-gold);
    font-size: 25px;
}
@media screen and (max-width:1050px){
    .app__navbar-links {
    display: none;
    }
    .app__navbar-menu{
        display: flex;
    }
    .app__navbar-menu_links{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .app__navbar-menu_links li {
        margin: 1.5rem 0;
    }
    .app__navbar-menu_login{
        display: none;
    }
}
@media screen and (max-width:700px){
    .app__navbar-links {
    display: none;
    }
}
@media screen and (max-width:580px){
    .app__navbar{
        padding: 1rem;
    }
    .app__navbar-login{
        display: none;
    }
    .app__navbar-menu_overlay{
        
        height: 80vh;
    }
    .app__navbar-menu_login{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
        background-color: var(--color-gold);
    }
    .app__navbar-menu_login a{
        margin: 1rem;
        transition: 0.8s ease;
        color: black;
        font-size: 25px;
    }
    .app__navbar-menu_login div{
        width: 100%;
        height: 2px;
        background: rgb(0, 0, 0);
     }
}